PORT=5500
BASE_URL=http://localhost:5500
STRIPE_SECRET_KEY=sk_test_your_secret_key
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key
STRIPE_STARTER_PRICE_ID=price_starter_monthly
STRIPE_GROWTH_PRICE_ID=price_growth_monthly
STRIPE_PRO_PRICE_ID=price_pro_monthly
STRIPE_TRIAL_PLAN=growth
STRIPE_TRIAL_DAYS=14
NOTIFICATION_EMAIL=violettabasdenn@gmail.com
GOOGLE_SHEET_ID=1asch8ivEwof9-Zp_2xiu01lVaYluzo80lPonX8tULoY
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbw4tN1KP3C1vz1rOMzIoeSf6W5kNXLvcOfAzmUyQ7i018h8iibUTl3uhScSo1KfUSA/exec
